/* $base-background: #00CC99; */
body {
  background: #c2bdbd;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s ease;
}

.btn {
  border-radius: 2px;
  padding: 8px 12px;
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
}

.card {
  background: #FFFFFF;
  max-width: 350px;
  margin:15px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 30px;
  text-align: center;
  border: 4px solid #38ca13;  
  z-index: 10000;
}


.products {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.product {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.product.active {
  opacity: 1;
  visibility: visible;
}

.thumbnail {
  margin: 0 0 48px;
}

.title {
  margin: 0 0 12px;
  color: #38ca13;
  font-size: 20px;
  transition: 0.5s ease;
  font-weight: bold;
}

.description {
  margin: 0 0 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -12px -12px;
}




.botons {
position:absolute;
top: 150px;
height: 100px;
width:100%;
}

#nextiu {
  height: 100px;
  width: auto;
  float: right;
  margin-right: -20px;
}

#nextiu:hover{
background-color: rgba(29, 29, 29, 0.507);
margin-right: 1px;
transition: 0.5s ease;
}

#previous {
  height: 100px;
  width: auto;
  float: left;
  margin-left: -20px;
}

#previous:hover {
  background-color: rgba(29, 29, 29, 0.507);
  margin-left: 1px;
  transition: 0.5s ease;
}





