/* $base-background: #00CC99; */
body {
  background: #c2bdbd;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s ease;
}



.card {
  background: #FFFFFF;
  width: 340px;
  height: 420px;
  margin:15px auto;
  box-shadow:  10px 10px 10px rgba(0, 0, 0,.7);
  box-sizing: border-box;
  text-align: center; 
  z-index: 100;
}

.products {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
}

.product {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
}
.product.active {
  opacity: 1;
  visibility: visible;
}

.imag {
  width: 340px;
  height: 280px;
}

.description {
  width: 330px;
  height: 70px;
  font-size: 15px;
  font-family: "Comfortaa", cursive;
  color: #4e4e4e;
  background-color: rgb(223, 223, 223);
  border-bottom: 8px solid #38ca13;
  padding: 5px;
}

.photos{
  float: left;
  margin: 10px ;
}

.photo {
  width: 30px;
  height: 30px;
  margin: 10px;
  border-radius: 100%;
}

.date h2 {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: bold;
}

.more {
  float: right;
  margin-right: 20px;
  margin-top: 5px;
  width: 35px;
  height: 35px;
}





.botons {
position:absolute;
top: 150px;
height: 100px;
width:100%;
}

#nextiu {
  height: 100px;
  width: auto;
  float: right;
  margin-right: -20px;
}

#nextiu:hover{
background-color: rgba(29, 29, 29, 0.507);
margin-right: 1px;
transition: 0.5s ease;
}

#previous {
  height: 100px;
  width: auto;
  float: left;
  margin-left: -20px;
}

#previous:hover {
  background-color: rgba(29, 29, 29, 0.507);
  margin-left: 1px;
  transition: 0.5s ease;
}





