/*NONE*/
.menu-max-900px {
  display: none;
}

/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  margin: 0%;
  padding: 0%;
  font-family: "Comfortaa", cursive;
}

* ::selection {
  background: #38ca13;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

body {
  background-color: rgb(255, 255, 255);
}

#container {
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*position y z-index son para que el nav quede fijo*/
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  background-color: rgba(255,255,255,1); /*queda bonito agregar transparencia al menu con transparencia del rgba*/
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-bottom: solid 5px #38ca13;
  /*  filter:blur(10px);   desenfocar*/
}

.index {
  width: 10%;
  margin-left: 5%;
  height: 80px;
  float: left;
}

#imgindex {
  height: 60px;
  display: block;
  margin-top: 10px;
}

.menu {
  width: 70%;
  margin-right: 3%;
  height: 80px;
  float: right;
}

.elementsmenu {
  width: auto;
  height: 30px;
  float: right;
  margin-right: 7%;
  margin-top: 15px;
}

.elementsmenu li {
  position: relative;
  display: inline-block; /*esto permite que el menu sea horizontal y en bloque*/
  margin: 0%;
  padding: 0%;
}

.elementsmenu li a {
  display: block;
  padding: 15px;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  display: flex;
}

.elementsmenu li a:hover {
  color: #38ca13;
  transition: all 0.3s;
}

.elementssubmenu {
  position: absolute;
  background: rgba(255, 255, 255);
  visibility: hidden;
  transition: opacity 2s;
}

.elementssubmenu li a {
  display: block;
  width: 160px;
  padding: 15px;
  color: #38ca13;
  text-decoration: none;
}

.elementsmenu li:hover .elementssubmenu {
  visibility: visible;
  opacity: 1;
}

#background-header {
  width: 100%;
  height: 650px;
  background-color: black;
  margin-top: 80px;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-items: center;
}

#brayantorrealba {
  width: 80%;
  margin-left: 5%;
  background-color: none;
  float: left;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-items: center;
}

#brayantorrealba h2 {
  font-family: "Oswald", sans-serif;
  font-size: 65px;
  color: #fff;
  text-align: center;
}

#brayantorrealba h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

#img-header {
  width: 45%;
  float: right;
}

#img-header img {
  width: auto;
  height: 650px;
}


#about-me {
  display: block;
  height: auto;
  width: 100%;
}

.info-about-me {
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

.message-about-me {
  width: 50%;
  margin: 25px;
  padding: 25px;
  margin-left: 15%;
  margin-right: 15%;

}

.message-about-me h2 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
}
.info-about-me-info {
  width: 30%;
  margin: 30px;
  padding: 15px;
}

.info-about-me-info p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: left;
}

#experience {
  display: block;
  height: auto;
  width: 100%;
  margin: 20px 0;
}

#background-exp {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: -100;
  opacity: 0.8;
}

#title {
  padding: 20px 40px;
}

#title h2 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  text-align: center;
}

#title h3 {
  font-size: 18px;
  text-align: center;
}

#list {
  height: auto;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

#info-exp {
  width: 280px;
  height: auto;
  margin: 15px;
  padding: 20px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#info-exp:hover {
  transition: 0.8s;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.img-exp img {
  margin: 0 80px;
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.info-exp-company {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(36, 36, 36);
}

.info-exp-company h3 {
  text-align: center;
  font-size: 17px;
}

.info-exp-company h2 {
  text-align: center;
  font-size: 20px;
}

.info-exp-company h5 {
  text-align: center;
  font-size: 10px;
}

.info-exp-info h4 {
  text-align: center;
  font-size: 12px;
}

#skills {
  background-color: #ffffff;
  display: block;
  height: auto;
  width: 100%-100px;
  display: block;
  margin-left: 50px;
  margin-right: 50px;

}

.images-skills >img {
  height: 80px;
  display: inline-block;
  padding: 25px;

}

#blog {
  background-color: #c2bdbd;
  display: block;
  height: auto;
  width: 100%;
}

#contact-me {
  height: auto;
  background-color: rgb(0, 0, 0);
}

#title-contact-me {
  padding: 30px;
}

#title-contact-me h2 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

#title-contact-me h3 {
  color: white;
  font-size: 25px;
  text-align: center;
}

#title-contact-me h4 {
  color: white;
  font-size: 15px;
  text-align: center;
}

#formulario {
  margin: 0 auto; /*centrado horizontal*/
  width: 800px;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

#title-contact-me h3 a {
  color: white;
  font-size: 20px;
}

#formulario form {
  width: 100%;
  height: auto;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
}

input,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 5px 0px;
  margin: 20px;
  width: 100%;
  border-bottom: 1px solid #38ca13;
  background: 0 0;
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

input:focus,
textarea:focus {
  border-bottom: 3px solid #38ca13;
}

button {
  font-style: italic;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding: 30px;
}

footer {
  background-color: rgb(255, 255, 255);
  height: 60px;
}

#copyright {
  margin: 5px;
}

#copyright h3 {
  font-size: 12px;
  text-align: center;
  color: black;
  margin: 0px;
}

#icons {
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: auto;
  height: 25px;
  padding: 5px 10px 0px 10px;
  transition: transform 0.5s;
}

#icons a:hover {
  transform: scale(1.8);
  transition: all 0.3s;
}

#btn-whatsapp {
  display: block;
  position: fixed;
  right: 10px;
  bottom: -20px;
  line-height: 80px;
  z-index: 100;
}

.icon-whatsapp {
  width: 80px;
  height: auto;
}

@media only screen and (max-width: 1200px) {

  #formulario {
    margin: 0 auto; /*centrado horizontal*/
    width: 700px;
    /*centado horizontal y vertical de todo lo que contiene */
    display: flex;
    justify-content: center;
    align-content: center;
  }


  
  #info-exp {
    width: 180px;
    height: auto;
    margin: 15px;
    padding: 20px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .img-exp img {
    margin: 0 30px;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #ffffff;
  }
  
  .info-exp-company h3 {
    text-align: center;
    font-size: 15px;
  }
  
  .info-exp-company h2 {
    text-align: center;
    font-size: 20px;
  }
  
  .info-exp-company h5 {
    text-align: center;
    font-size: 10px;
  }
  

}

@media only screen and (max-width: 900px) {

  #brayantorrealba h2 {
    font-family: "Oswald", sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
  }

  #brayantorrealba h3 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  #formulario {
    margin: 0 auto; /*centrado horizontal*/
    width: 460px;
    /*centado horizontal y vertical de todo lo que contiene */
    display: flex;
    justify-content: center;
    align-content: center;
  }

  #title h3 {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
  }

  #title-contact-me h3, #title-contact-me h3 a {
    color: white;
    font-size: 16px;
    text-align: center;
  }

  #title-contact-me h4 {
    color: white;
    font-size: 12px;
    text-align: center;
  }

  #skills {
    background-color: #ffffff;
    display: block;
    height: auto;
    width: 90%;
    display: block;
    margin-bottom: 30px;
  
  }

  .images-skills >img {
    height: 60px;
    display: inline-block;
    padding: 10px;
  
  }
}


@media only screen and (max-width: 800px) {
  .menu {
    display: none;
  }

  .index {
    width: auto;
    margin-left: 25px;
    height: 80px;
    float: left;
  }

  #imgindex {
    height: 60px;
    display: block;
    margin-top: 10px;
  }

  .menu-max-900px {
    display: block;
    width: auto; 
    margin-right: 10px;
    height: 80px;
    float: right;
  }

  #img-menu {
    height: 40px;
    margin-top: 20px;
  }

  .info-about-me {
    /*centado horizontal y vertical de todo lo que contiene */
    height: auto;
    display: inline;
    width: auto;
  }
  
  .message-about-me {
    width: 70%;
    margin: 15px;
    padding: 15px;
    margin-right: auto;
    margin-left:auto;
  }
  
  .message-about-me h2 {
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    text-align: center;
    font-style: italic;
  }
  .info-about-me-info {
    width: 80%;
    margin: 15px;
    padding: 15px;
    margin-right: auto;
    margin-left:auto;
      }

  #background-exp {
    display: none;
  }

  #experience {
    background-color: #9b9b9b;
  }
  #list {
    height: auto;
    display: inline;
    width: auto;
    padding: 20px;
  }

  #info-exp {
    width: 240px;
    height: auto;
    padding: 20px;
    border-radius: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    margin-right: auto;
    margin-left:auto;
  }

  #info-exp:hover {
    transition: 0.8s;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
  }

  .img-exp img {
    margin: 0 60px;
    width: 120px;
    border-radius: 100%;
    border: 5px solid #ffffff;
  }

  .info-exp-company {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid rgb(36, 36, 36);
  }

  .info-exp-company h3 {
    text-align: center;
    font-size: 17px;
  }

  .info-exp-company h2 {
    text-align: center;
    font-size: 20px;
  }

  .info-exp-company h5 {
    text-align: center;
    font-size: 10px;
  }

  .info-exp-info h4 {
    text-align: center;
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  
  #brayantorrealba h2 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
  }

  #brayantorrealba h3 {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }

  #title {
    padding: 25px;
  }
  
  #title h2, #title-contact-me h2 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-align: center;
  }
  
  #title h3 {
    font-size: 16px;
    text-align: center;
  }
  #formulario {
    margin: 0 auto; /*centrado horizontal*/
    width: 390px;
    /*centado horizontal y vertical de todo lo que contiene */
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .icon-whatsapp {
    width: 50px;
    height: auto;
  }
}

@media only screen and (max-width: 400px) {
 
  .index {
    width: auto;
    margin-left: 25px;
    height: 80px;
    float: left;
  }
  
  #imgindex {
    height: 60px;
    display: block;
    margin-top: 10px;
  }
  
  .menu-max-900px {
    display: block;
    width: auto; 
    margin-right: 10px;
    height: 80px;
    float: right;
  }
  
  #img-menu {
    height: 40px;
    margin-top: 20px;
  }


  #title-contact-me h3, #title-contact-me h3 a {
    color: white;
    font-size: 12px;
    text-align: center;
  }
  #formulario {
    margin: 0 auto; /*centrado horizontal*/
    width: 300px;
    /*centado horizontal y vertical de todo lo que contiene */
    display: flex;
    justify-content: center;
    align-content: center;
  }
}