/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
  margin: 0%;
  padding: 0%;
  font-family: "Comfortaa", cursive;
}

* ::selection {
  background: #38ca13;
  color: #fff;
  text-shadow: none;
  opacity: 1;
}

body {
  background-color: rgb(255, 255, 255);
}

#container {
  max-width: 100%;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*position y z-index son para que el nav quede fijo*/
header {
  width: 100%;
  position: fixed;
  z-index: 1000;
}

nav {
  background-color: rgba(
    255,
    255,
    255
  ); /*queda bonito agregar transparencia al menu con transparencia del rgba*/
  height: 80px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.index {
  width: 40%;
  height: 80px;
  float: left;
}

#imgindex {
  height: 50px;
  display: block;
  margin-left: 10%;
  margin-top: 12px;
}

.menu {
  width: 60%;
  height: 80px;
  float: right;
}

.elementsmenu {
  width: auto;
  height: 30px;
  float: right;
  margin-right: 7%;
  margin-top: 15px;
}

.elementsmenu li {
  position: relative;
  display: inline-block; /*esto permite que el menu sea horizontal y en bloque*/
  margin: 0%;
  padding: 0%;
}

.elementsmenu li a {
  display: block;
  padding: 15px;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  display: flex;
}

.elementsmenu li a:hover {
  color: #38ca13;
  transition: all 0.3s;
}

.elementssubmenu {
  position: absolute;
  background: rgba(255, 255, 255);
  visibility: hidden;
  transition: opacity 2s;
}

.elementssubmenu li a {
  display: block;
  width: 160px;
  padding: 15px;
  color: #38ca13;
  text-decoration: none;
}

.elementsmenu li:hover .elementssubmenu {
  visibility: visible;
  opacity: 1;
}

#background-header {
  width: 100%;
  height: 400px;
  background-color: black;
  margin-top: 80px;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-items: center;
}

#brayantorrealba {
  width: 60%;
  height: 100%;
  background-color: none;
  float: left;
  margin-left: 10%;
}

#brayantorrealba h2 {
  font-family: "Oswald", sans-serif;
  font-size: 65px;
  color: #fff;
  text-align: center;
}

#brayantorrealba h3 {
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  color: #fff;
  text-align: center;
}

#img-header {
  width: 35%;
  float: right;
}

#img-header img {
  width: auto;
  height: 400px;
}

#about-me {
  display: block;
  height: 400px;
  width: 100%;
}

.info-about-me {
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

.message-about-me {
  width: 70%;
  margin: 30px;
  padding: 15px;
}

.message-about-me h2 {
  font-family: "Raleway", sans-serif;
  font-size: 45px;
  text-align: center;
  font-style: italic;
}
.info-about-me-info {
  width: 30%;
  margin: 30px;
  padding: 15px;
}

.info-about-me-info p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: left;
}

#experience {
  display: block;
  height: 600px;
  width: 100%;
}

#background-exp {
  height: 600px;
  width: 100%;
  position: absolute;
  z-index: -100;
  opacity: 0.8;
}

#title {
  padding-top: 50px;
  padding-bottom: 15px;
}

#title h2 {
  font-family: "Oswald", sans-serif;
  font-size: 35px;
  text-align: center;
}

#title h3 {
  font-size: 18px;
  text-align: center;
}

#list {
  height: auto;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

#info-exp {
  width: 280px;
  height: auto;
  margin: 15px;
  padding: 20px;
  border-radius: 5%;
  background-color: rgba(255, 255, 255, 0.8);
}

#info-exp:hover {
  transition: 0.4s;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.img-exp img {
  margin: 0 80px;
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.info-exp-company {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(36, 36, 36);
}

.info-exp-company h3 {
  text-align: center;
  font-size: 17px;
}

.info-exp-company h2 {
  text-align: center;
  font-size: 20px;
}

.info-exp-company h5 {
  text-align: center;
  font-size: 10px;
}

.info-exp-info h4 {
  text-align: center;
  font-size: 12px;
}

#blog {
  background-color: rgb(235, 235, 235);
  margin-top: 0px;
  display: block;
  height: auto;
  width: 100%;
}

#info-blog {
  width: 260px;
  height: 400px;
  margin: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px rgb(36, 36, 36);
  position: relative;
  transition: transform 0.5s;
}

#info-blog:hover {
  transform: scale(1.1);
  z-index: 100;
}

.img-blog img {
  margin: 0 auto; /*centrado horizontal*/
  width: 260px;
  height: 190px;
}

.info-blog-title {
  width: 240px;
  height: auto;
  margin: 15px 10px;
  background-color: none;
}

.info-blog-title h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.info-blog-info {
  width: 240px;
  height: 100px;
  margin: 10px;
  background-color: none;
  bottom: 0px;
  right: 0px;
  position: absolute;
}

.info-blog-info p {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-align: center;
}

#section1 {
  clear: both;
  height: 500px;
  background-color: rgb(14, 118, 168);
}

#section1 h2 {
  margin-top: 20px;
  font-size: 30px;
  color: black;
  text-align: center;
}

#contact-me {
  height: auto;
  background-color: rgb(0, 0, 0);
}

#title-contact-me {
  padding: 30px;
}

#title-contact-me h2 {
  font-family: "Oswald", sans-serif;
  color: white;
  font-size: 40px;
  text-align: center;
}

#title-contact-me h3 {
  color: white;
  font-size: 25px;
  text-align: center;
}

#title-contact-me h4 {
  color: white;
  font-size: 15px;
  text-align: center;
}

#formulario {
  margin: 0 auto; /*centrado horizontal*/
  width: 800px;
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-content: center;
}

#title-contact-me h3 a {
  color: white;
  font-size: 20px;
}

#formulario form {
  width: 100%;
  height: 500px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 10px;
}

input,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 5px 0px;
  margin: 20px;
  width: 100%;
  border-bottom: 1px solid #38ca13;
  background: 0 0;
  color: white;
}

input::placeholder,
textarea::placeholder {
  color: white;
}

input:focus,
textarea:focus {
  border-bottom: 3px solid #38ca13;
}

button {
  font-style: italic;
  font-weight: bold;
  color: white;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  padding: 30px;
}

footer {
  background-color: rgb(255, 255, 255);
  height: 60px;
}

#copyright {
    margin: 5px;
}

#copyright h3 {
  font-size: 12px;
  text-align: center;
  color: black;
  margin: 0px;
}

#icons {
  /*centado horizontal y vertical de todo lo que contiene */
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: auto;
  height: 25px;
  margin: 5px 10px 0px 10px;
  transition: transform 0.5s;
}

#icons a:hover {
  transform: scale(1.8);
}

#btn-whatsapp {
  display: block;
  position: fixed;
  right: 10px;
  bottom: -20px;
  line-height: 80px;
  z-index: 100;
}

.icon-whatsapp {
  width: 80px;
  height: auto;
}
